In [1]:
import pandas as pd

In [2]:
path = "./archive-2/product-supplier.csv"
path ="aviation.csv"

In [3]:
df = pd.read_csv(path)

In [4]:
df

,Country Name,Country Code,1970,1971,1972,1973,1974,1975,1976,1977,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,223502.00,2.742800e+05,NaN,NaN
1,Africa Eastern and Southern,AFE,3418300.0,3775300.0,4074500.0,4808000.0,5126100.0,5333100.0,6040400.0,5798900.0,...,3.350782e+07,3.583868e+07,35112457.82,36350758.95,39154692.0,41553429.0,45423814.08,5.261396e+07,5.433525e+07,NaN
2,Afghanistan,AFG,84700.0,97400.0,104900.0,96600.0,96100.0,99000.0,101700.0,111200.0,...,2.279341e+06,1.737962e+06,2044188.00,2209428.00,1929907.0,1917924.0,1647425.00,1.125367e+06,1.066747e+06,NaN
3,Africa Western and Central,AFW,1167000.0,1238100.0,1285700.0,1453300.0,1685700.0,1987500.0,2540000.0,2962100.0,...,9.140452e+06,9.570162e+06,8677884.00,8030237.17,8696300.0,8129874.0,8837017.00,1.233777e+07,1.134659e+07,NaN
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,155400.0,282700.0,...,9.877980e+05,1.132424e+06,1321872.00,1409952.00,1244491.0,1482546.0,1375523.00,1.516628e+06,1.436959e+06,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,25900.0,54500.0,57000.0,61500.0,66500.0,70000.0,262800.0,275000.0,...,1.492073e+06,1.299707e+06,1664220.00,1665552.00,443685.0,242723.0,132571.00,3.363100e+05,NaN,NaN
263,South Africa,ZAF,1519000.0,1659500.0,1868100.0,2313800.0,2763600.0,2936400.0,2998800.0,3076800.0,...,1.640778e+07,1.757157e+07,16311250.00,17026643.22,18882898.0,19744932.0,20821044.00,2.466039e+07,2.565018e+07,NaN
264,Zambia,ZMB,187800.0,214200.0,230100.0,230600.0,240600.0,232600.0,256800.0,299400.0,...,3.060343e+05,1.272966e+05,10032.00,8592.00,203617.0,144060.0,154573.00,1.663314e+04,1.750569e+04,NaN
265,Zimbabwe,ZWE,267400.0,291300.0,315000.0,340000.0,NaN,NaN,NaN,NaN,...,2.793476e+05,3.209460e+05,351564.00,301260.00,370165.0,378803.0,282539.00,2.825390e+05,NaN,NaN

In [5]:
df.isna().sum()

Country Name      0
Country Code      0
1970            119
1971            117
1972            119
1973            115
1974            101
1975             96
1976             92
1977             92
1978             91
1979             89
1980             84
1981             81
1982             79
1983             79
1984             76
1985             75
1986             75
1987             74
1988             73
1989             73
1990             73
1991             69
1992             60
1993             56
1994             54
1995             58
1996             56
1997             55
1998             54
1999             60
2000             62
2001             63
2002             75
2003             74
2004             76
2005             85
2006             86
2007             86
2008             84
2009             82
2010             59
2011             59
2012             59
2013             60
2014             60
2015             64
2016             63
2017             64
2018             61
2019             64
2020            266
dtype: int64

In [6]:
path

'aviation.csv'

In [7]:
df.dtypes

Country Name     object
Country Code     object
1970            float64
1971            float64
1972            float64
1973            float64
1974            float64
1975            float64
1976            float64
1977            float64
1978            float64
1979            float64
1980            float64
1981            float64
1982            float64
1983            float64
1984            float64
1985            float64
1986            float64
1987            float64
1988            float64
1989            float64
1990            float64
1991            float64
1992            float64
1993            float64
1994            float64
1995            float64
1996            float64
1997            float64
1998            float64
1999            float64
2000            float64
2001            float64
2002            float64
2003            float64
2004            float64
2005            float64
2006            float64
2007            float64
2008            float64
2009            float64
2010            float64
2011            float64
2012            float64
2013            float64
2014            float64
2015            float64
2016            float64
2017            float64
2018            float64
2019            float64
2020            float64
dtype: object